<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoBoard</title>
</head>

<body>
    <div style="width: 800px; height: 800px; margin: 30px auto;">
        <canvas id="can" height="800px" width="800px">

        </canvas>
    </div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    function write_board(ctx) {
        cxt.fillStyle="#d87c0b";
        cxt.fillRect(0,0,space*(size+1)- (space-edge)*2,space*(size+1)- (space-edge)*2);
        for(let i = 1; i <= size;i++){
            cxt.fillStyle="#000";
            cxt.moveTo(i*space - (space-edge),space - (space-edge));
            cxt.lineTo(i*space- (space-edge),space*size- (space-edge));
            cxt.stroke();
            cxt.moveTo(space- (space-edge),i*space- (space-edge));
            cxt.lineTo(space*size- (space-edge),i*space- (space-edge));
            cxt.stroke();
        }
    }
    function write_go(data,cxt) {
        for(i = 0;i < 19 ;i++){
            for(j = 0; j < 19; j++){
                if(data[i][j] === 1){
                    console.debug(i.toString() + j.toString())
                    cxt.fillStyle = "#000";
                    cxt.beginPath();
                    cxt.arc(i*space+edge,j*space+edge,space/2,0,Math.PI*2,true);
                    cxt.closePath();
                    cxt.fill()
                }
                if (data[i][j] === -1){
                    cxt.fillStyle="#FFF";
                    cxt.beginPath();
                    cxt.arc(i*space+edge,j*space+edge,space/2,0,Math.PI*2,true);
                    cxt.closePath();
                    cxt.fill()
                }
            }
        }
    }

</script>
<script>
    const space = 35;
    const edge = 20;
    const size = 19;
    let c=document.getElementById("can");
    let cxt=c.getContext("2d");
    write_board(cxt);
    url = "http://localhost:6060/go";
    $.get(url,function (data) {
        console.log(data);
        let godata = JSON.parse(data);
        write_go(godata["data"],cxt)
    });

    c.addEventListener('click', function (event) {
        let x = event.layerX - edge;
        let y = event.layerY - edge;
        let xx = parseInt(x/space+0.5);
        let yy = parseInt(y/space+0.5);
        $.post(url,{
            x:xx,
            y:yy
        },function (data) {
            console.log(data);
            let godata = JSON.parse(data);
            write_board(cxt);
            write_go(godata["data"],cxt)
        });
    },false)

</script>

<script>
    function write_board(ctx) {
        cxt.fillStyle="#d87c0b";
        cxt.fillRect(0,0,space*(size+1)- (space-edge)*2,space*(size+1)- (space-edge)*2);
        for(let i = 1; i <= size;i++){
            cxt.fillStyle="#000";
            cxt.moveTo(i*space - (space-edge),space - (space-edge));
            cxt.lineTo(i*space- (space-edge),space*size- (space-edge));
            cxt.stroke();
            cxt.moveTo(space- (space-edge),i*space- (space-edge));
            cxt.lineTo(space*size- (space-edge),i*space- (space-edge));
            cxt.stroke();
        }
    }
    function write_go(data,cxt) {
        for(i = 0;i < 19 ;i++){
            for(j = 0; j < 19; j++){
                if(data[i][j] === 1){
                    console.debug(i.toString() + j.toString())
                    cxt.fillStyle = "#000";
                    cxt.beginPath();
                    cxt.arc(i*space+edge,j*space+edge,space/2,0,Math.PI*2,true);
                    cxt.closePath();
                    cxt.fill()
                }
                if (data[i][j] === -1){
                    cxt.fillStyle="#FFF";
                    cxt.beginPath();
                    cxt.arc(i*space+edge,j*space+edge,space/2,0,Math.PI*2,true);
                    cxt.closePath();
                    cxt.fill()
                }
            }
        }
    }

</script>